@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-red: 225, 29, 72;
  --background: 255, 255, 255;
}

body {
  color: rgb(0, 0, 0);
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .count__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    aspect-ratio: 1 / 1;
    top: -0.4rem;
    right: -0.4rem;
    width: 1rem;
    font-size: 0.5rem;
    font-weight: 500;
    border-radius: 50%;
    text-indent: -2px;
    color: white;
    background-color: rgb(var(--theme-red));
  }
}